# This is a basic workflow to generate release artifacts for node projects
# It requires a [Repository secret](https://docs.github.com/en/actions/security-guides/encrypted-secrets#creating-encrypted-secrets-for-a-repository)
# For `npm publish` that can be obtained [here](https://crates.io/me)
# NPM_TOKEN: <your_token>

name: CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push but only for the main branch
  push:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "release"
  release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Use `release-please` to track changes and generate release PRs
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          release-type: "node"
          monorepo-tags: true
          manifest-file: ".release-please-manifest.json"
          config-file: "release-please-config.json"
      # The logic below handles the crates.io publication:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}
      # TODO(bengreenier): replace with actual publish
      - run: echo "Would have published!"
        if: ${{ steps.release.outputs.release_created }}
      
